#insert_remSpecify, #insert_statsSpecify{
	display: none;
}

.imgReport{
  top: .10em;
  left: 1em;
}

.print{
  display: none;
}

/*.footerMsg{
 position: fixed;
 bottom: 0;
}
*/
/* PRINT REPORT DESIGN */

#printReport{
  background: #fff;
  padding: 20px;
}

#reportDesign{
  width: 100%;
  border-collapse: collapse;
  font-family: "Times New Roman", serif;
  font-size: 15px;
  color: #000;
  background: #fff;
}

/* INFORMATION LABEL ONLY */
.info-label{
  width: 10%;
  white-space: nowrap;
}

/* MAIN TD & TH */
#reportDesign th,
#reportDesign td{
  border: 1px solid #000;
  padding: 10px 14px;
  vertical-align: top;
}

/* LEFT LABEL */
#reportDesign th{
  /*width: 25%;*/
  background: #f1f1f1;
  font-weight: bold;
}

/* SECTION TITLE */
.section-title{
  background: #d9d9d9 !important;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  /*text-align: center;*/
}

/* TEXT AREA */
.text-area{
  height: 60px;
  line-height: 1.8;
}

/* SIGNATURE */
.signature-box{
  height: 40px;
  width: 50%;
  vertical-align: bottom !important;
}

/* PRINT */
@media print{

  body{
    background: #fff;
  }

  #printReport{
    padding: 0;
  }

  #reportDesign{
    font-size: 14px;
  }

  #reportDesign th,
  #reportDesign td{
    border: 1px solid #000 !important;
  }

}

@media print{
	@page{
		margin: 0;
	}

	@page{
		size: folio Portrait;
		margin-right: .5rem;
		margin-left: .5rem;
		margin-top: 5mm;
		margin-bottom: 10mm;
  	border: initial;
 	 	border-radius: initial;
 	 	width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
    background-color: white;
	}
 
	table{
		border-collapse: collapse;
	}

	/*#img{
		display: inline-block !important;
	}
*/
	.hidden{
	 display: none !important;
	}

	.img{
		top: 1em;
		left: 15em;
	}
}